{% extends "base.html" %}

{% block content %}
    <div class="main">
        <div class="left">
            <div class="content">
                <div class="text">
                    <h2>Add New Contacts To Your</h2>
                    <h2>Directory</h2>
                </div>
                <a href="/add"><button>Add Contact</button></a>
            </div>
        </div>
        <div class="right">
            <div class="content">
                <div class="text">
                    <h2>View All Contacts In Your</h2>
                    <h2>Contact List</h2>
                </div>
                <a href="/list"><button>Contact List</button></a>
            </div>
        </div>
    </div>

{% endblock %}