{% extends "base.html" %}

{% block content %}
    <div class="main-list">
        <div class="left">
        {% if contacts.count == 0 %}
            <h2>No contacts in your directory</h2>
        {% else %}
            {% for contact in contacts %}
            <div class="content">
                <div class="text">
                    <h4>{{ contact.name }}</h4>
                    <h5>{{ contact.email }}</h5>
                </div>
            </div>
            {% endfor %}
        {% endif %}
        </div>
    </div>
{% endblock %}