{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="{% static 'baseApplication/style.css' %}">
    <title>Contact Book</title>
</head>

<body>

    <ul class="navigation">
        <a href="/"><li>Home</li></a>
        <a href="/list"><li>Contacts</li></a>
        <a href="/add"><li>Add Contact</li></a>
    </ul>

    {% block content %}
    {% endblock %}

</body>

</html>